<div id="page" class="hero is-fullheight">
  <section id="head" class="hero is-small">
    <div class="hero-body is-flex-direction-row columns is-vcentered">
      <div clas="columns">
        <p class="title mt-3">
          ENNEA 
        </p>
        <p class="subtitle">
          CONSULTING
        </p>
      </div>
      <div class="image is-96x96 mb-3">
        <img src="../assets/img/logo.png"/>
      </div>
    </div>
  </section>

  <div class="is-flex-direction-row m-5 columns has-text-centered is-size-3">
    <div class="column is-half">
      <div class="notification">
        Mes Services
      </div> 
    </div>
    <div class="column is-half">
      <div class="notification">
        Mes Formations
      </div>
    </div>
  </div>
</div>